/* COLORS */
$yellow-color: #f0cc55;
$light-yellow-color: #f5dd62;
$dark-yellow-color: #ebb855;
$red-color: #df7169;
$light-red-color: #df7f78;
$white-color: #ffffff;
$eye-blue-color: #a4e4fc;
$teeth-eye-white-color: #fefefd;
$blue-color: #bef1ff;
$light-blue-color: #ddf6fe;
$black-color: #575659;
