@use 'main-partials/config';

.canvas {
	width: 320px;
	height: 533px;
	@include config.center-element;

	/* HAT BOTTOM */
	.hat-bottom {
		background: config.$dark-blue-color;
		width: 75px;
		height: 10px;
		left: 49.4%;
		top: 22%;
		transform: translateX(-50%);
		position: relative;
		z-index: 5;
		border-radius: 2px;
	}

	/* HAT MEDIUM */
	.hat-medium {
		position: relative;
		background: config.$light-blue-color;
		transform: translateX(-50%) skewX(10deg);
		left: 48%;
		top: 15%;
		width: 25px;
		height: 35px;
		z-index: 3;

		&::after {
			content: "";
			background: config.$light-blue-color;
			display: block;
			width: 25px;
			height: 35px;
			transform: skewX(-20deg);
			position: relative;
			left: 40%;
		}
	}

	/* HAT TOP */
	.hat-top {
		z-index: 4;
		position: relative;
		background: config.$dark-blue-color;
		transform: translateX(-50%) skewX(10deg);
		left: 47.8%;
		top: 5%;
		width: 30px;
		height: 30px;
		border-radius: 10px 0px 0px 0px;

		&::after {
			content: "";
			background: config.$dark-blue-color;
			display: block;
			width: 30px;
			height: 30px;
			transform: skewX(-20deg);
			position: relative;
			left: 40%;
			border-radius: 0px 10px 0px 0px;
		}
	}

	/* BODY */
	.body {
		background: config.$yellow-color;
		@include config.center-element;
		width: 80px;
		height: 250px;
		border-radius: 40%;
		top: 45%;
		left: 49.5%;
		border-right: 7px solid #e6b103;
		border-left: 7px solid #fccf3c;
	}

	/* EYES */
	.eye {
		@include config.center-element;
		top: 40%;
		left: 38%;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background: config.$white-color;
		border-bottom: 8px solid #d8d8d8;

		&::after {
			content: "";
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: config.$black-color;
			@include config.center-element;
		}
	}

	.eye-right {
		left: 62%;
	}

	/* NOSE */
	.nose {
		@include config.center-element;
		width: 20px;
		height: 50px;
		background: rgba(255, 166, 0, 0);
		border-bottom: 2px solid config.$black-color;
		border-left: 2px solid config.$black-color;
		border-right: 2px solid config.$black-color;
		border-bottom-left-radius: 100%;
		border-left: 100%;
		border-bottom-right-radius: 100%;
		border-right: 100%;
	}

	/* SMILES */
	.smile-medium {
		@include config.center-element;
		top: 57%;
		width: 40px;
		height: 20px;
		background: rgba(255, 166, 0, 0);
		border-bottom: 2px solid config.$black-color;
		border-left: 100%;
		border-right: 100%;
	}
}
